@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

body {
  background-color: rgb(192, 189, 189);
  background-image: url('./images/cooking.jpg');
}

html {
  font-size: 62.5%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* h1 {
  font-size: 5rem;
  letter-spacing: 0.1rem;
  font-style: italic;
  color: #40b48e;
  text-shadow: 0 0.2rem 5rem rgb(119, 115, 115);
  text-transform: uppercase;
  margin: 4rem 0;
} */

.header-title {
  filter: drop-shadow(0.09em 0.1rem 0.1rem rgb(180, 64, 141));
  font-size: 10em;
  font-family: 'Pacifico', cursive;
  padding: 0.3em 0;
  color: white;
  letter-spacing: 0.1em;
}

@media only screen and (max-width: 600px) {
  .header-title {
    font-size: 8em;
  }
}

/* SHAF EDIT BELOW */
/* the ul */
.category-list {
  display: flex;
  flex-direction: column;
  justify-content: between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 60rem; 
  display: inline-block;
  margin-bottom: 5em;
}

.category-list li {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.555);
}

.category-list hr {
  opacity: 0.2;
}
/* food icons */
.category-icon {
  height: 100%;
  width: 30px;
  padding: 0.5em 0;
  margin-right: 1em;
}

.category-list li a {
  margin: 0.2em;
  font-size: 2em;
  padding: 0 1em;
  color: rgba(255, 255, 255, 0.767);
}
/* category name  */
.list-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-list li:hover {
  background: rgba(0, 0, 0, 0.837);
}

/* SHAF EDIT ABOVE */
.search-form {
  width: 60rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
  border-radius: 0.5rem;
  margin-bottom: 5rem;
  box-shadow: 1rem 2rem 5rem #aaa;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .search-form {
    width:100%;
  }
}

.alert {
  position: absolute;
  top: -3rem;
  left: 0;
  background-color: rgb(233, 72, 72);
  width: calc(100% - 0.4rem);
  border-radius: 0.5rem;
  padding: 0.2rem;
}

.alert h3 {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.search-form input {
  font-size: 1.6rem;
  border: none;
  border-bottom: 0.1rem solid #ccc;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  height: 3rem;
}

.search-form input[type="text"] {
  padding: 0 0.5rem;
  width: 60%;
  color: #555;
}

.search-form input[type="submit"] {
  width: 25%;
  text-transform: uppercase;
  background-color: #40b48e;
  color: #fff;
}

.recipes {
  padding-top: 2em;
  width: 90%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;   
  justify-content: center;
  overflow: hidden;
  align-items: flex-start;
}

.recipe {
  width: 30rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  background-color: #d3d3d3;
  padding: 2rem;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 2rem 3rem 5rem #aaa;
  height: 400px;
  overflow-y: auto;
}


.recipe h2 {
  background-color: rgba(161, 161, 161, 0.7);
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  right: 2.5rem;
  font-size: 2.5rem;
  font-weight: 400;
  text-shadow: 0 0.5rem 0.5rem #555;
  color: #fff;
}

.recipe img {
  border-radius: 0.5rem;
  object-fit: cover;
}

.recipe a {
  font-size: 1.8rem;
  color: #40b48e;
  margin: 1em;
}

.recipe button {
  cursor: pointer;
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #40b48e;
  border: none;
  border-radius: 0.5rem;
  height: 3rem;
}

.recipe button:hover {
  background-color: #267c5f;
}

.ingredient-list {
  margin-top: 1rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.ingredient-list li {
  margin: 0.5rem 0;
}

.ingredient-text {
  font-size: 1.5rem;
  color: #888;
}

.recipe h4 {
  color: #b4408d;
  font-size: 1.3rem; 
  padding: .5 rem;
  text-align: center;

}

.header {
  background-color: #b4408d;
  font-size: 30px;
  height: 3rem;
  padding: 30px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
  .header {
    font-size: 20px;
  }
}

.header a {
  color: white;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
  background-color: #b4408d;
  color: white;
  text-align: center;
  font-size: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6rem;
  
}

.footer a {
  color: white;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

@media only screen and (max-width: 1200px) {
  .page-container {
    height: 100%;
  }
}

.content-wrap {
  padding-bottom: 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.about, .contact, .team, .privacy {
    background: white;
    font-size: 2em;
    line-height: 6rem;
    text-align: justify;
    margin: 2em auto;
    padding: 1em;
    border-radius: 50px;
    margin: 3em 0;
    width: 70%;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  20px 20px 54px #5a5a5a,
             -20px -20px 54px #ffffff17;
}

@media only screen and (max-width: 600px) {
  .about, .contact, .team, .privacy {
    font-size: 12px;
    line-height: 3rem;
  }
}

.about h1, .contact h1, .team h1 {
  font-family: 'Pacifico', cursive !important;
  letter-spacing: 15px;
  color: #b4408d;
  padding: 1em 0;
}

.input {
  background: white;
}